{% extends 'base.html' %}
    {% block content %}
    <div class='row justify-content-center'>
        <div class='col-md-3'>
          <form id='edit-garden-form' class='form-group' method='POST'>
              {{form.hidden_tag() }}
                  {% for field in form 
                      if field.widget.input_type != 'hidden' %}
                  <div>
                  <h2>{{field.label}}</h2>
                  <p>{{field}}</p>
                  {% for error in field.errors %}
                      {{error}}
                  {% endfor %}
                  </div>
                  {% endfor %}
                  <button class='btn btn-md btn-success' type='submit'>Update</button>
          </form>
          <button class='btn btn-md btn-warning'><a href='/hub' class='text-white'>Return</a></button>
        </div>
    </div>

    <div class='container-fluid bg-dark'>
      <div class='row justify-content-center'>
        <div class='col-md-3'>
            <form action='/garden/{{garden.id}}/delete' method='POST'>
                <button class='btn btn-sm btn-danger' type='submit'>Delete Garden</button>
            </form>
        </div>
      </div>
    </div>
    {% endblock %}