<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    <title>Plant-Keeper</title>
    {% if g.user %}
    <nav class='navbar fixed-top navbar-dark bg-light'>
        <ul class='nav justify-content-center'>
            <li class='navbar-brand'><a href='/' class='nav-link active'><img src='/static/logo.png' style='width:30px;height:30px'> Home</a></li>
            <li class='navbar-brand'><a href=f'/{g.username}/plants' class='nav-link'><img src='/static/add-plant-icon.png' style='width:30px;height:30px'> My Plants</a></li>
            <li class='navbar-brand'><a href='/weather' class='nav-link'><img src='/static/weather/calendar.png' style='width:30px;height:30px'> Weather</a></li>
            {% if g.user %}
                <li class='navbar-brand'><a href='/account' class='nav-link'><img src={{g.user.profile_pic_url}} style='width:30px;height:30px'>  Account Info</a></li>
                <li class='navbar-brand'><a href='/logout' class='nav-link'>Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</head>
<body>
    {% block content %}


    {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
</body>
</html>