<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    
    <link rel='stylesheet' href='/static/styles/body.css'>
    <title>Plant-Keeper</title>
    {% if g.user %}
    <nav class='navbar navbar-dark bg-dark'>
        <ul class='nav justify-content-left'>
            <li class='navbar-brand'><a href='/' class='nav-link text-white'><img src='/static/logo.png' style='width:30px;height:30px'> Home</a></li>
            <li class='navbar-brand'><a href='/{{g.user.id}}/plants' class='nav-link text-white'><img src='/static/add-plant-icon.png' style='width:30px;height:30px'> My Plants</a></li>
            <li class='navbar-brand'><a href='/weather' class='nav-link text-white'><img src='/static/weather/calendar.png' style='width:30px;height:30px'> Weather</a></li>
            {% if g.user %}
                <li class='navbar-brand'><a href='/{{g.user.id}}/account' class='nav-link text-white'><img src={{g.user.profile_pic_url}} style='width:30px;height:30px'>  Account Info</a></li>
                <li class='navbar-brand'><a href='/logout' class='nav-link text-white'>Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</head>
<body>
    <div class='container'>
        {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% extends '/user/dashboard.html' %}
        {% block body %}
            <div class='card-deck container-fluid'>
                {{ super() }}
            </div>
        {% endblock %}
</body>
</html>