<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/static/styles/body.css'>
    <title>Plant Keeper</title>
</head>
<body>
    <div class='container'>
        {% for category, message in get_flashed_messages(with_categories=True) %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>

    <div class='container-fluid' id='logo'>
        <div class='col-md-12 text-center'>
            <img class='img-fluid' style='width: 10%;' src='/static/mascot.png'>
            <span class='bg-light text-dark'>Welcome to Plant Keeper!</span>
        </div>
    </div>
    <br/>
    <div class='container shadow p-3 mb-5 bg-light rounded' id='intro'>
      <div class='row-2'>
        <div class='col-md-12 text-center'>
        <button class='btn btn-info mr-5'>
            <a href='/register' class='text-white'>Register</a>
        </button>
        <button class='btn btn-primary'>
            <a href='/login' class='text-white'>Login</a>
        </button>
        </div>
      </div>
    </div>
    <footer class='fixed-bottom shadow p mb bg-light rounded'>
        <div class='text-center'>
            <p class='font-italic text-sm'>2020, By: Luis Sanchez, <span class='justify-content-center font-italic'>Icons from freepik, smashicon on flaticon.com</span></p>
        </div>
    </footer>
</body>
</html>