{% extends 'base.html' %}

{% block content %}
    <div class='card-deck container-fluid shadow-lg p-4 mb-3 bg-light rounded col-md-10'>
        <div class='col-md-6'>
    {% if plants is defined and plants[0] is defined %}
        {% for plant in plants %}
            <div class='card container-fluid shadow p-4 mb-3 bg-light rounded' id='plant{{plant.id}}'>
                <div class='card-body'>
                  <h4 class='card-title'>{{plant.plant_name}}</h4>
                  <ul class='list-group'>
                    <li class='list-group-item'>Last watered: 
                        {% if plant.last_watered %}
                            {{plant.last_watered.strftime('%m-%d-%Y')}}</li>
                        {% else %}
                            N/A
                        {% endif %}
                    <li class='list-group-item'>Last trimmed: 
                        {% if plant.last_trimmed %}
                            {{plant.last_trimmed.strftime('%m-%d-%Y')}}</li>
                        {% else %}
                            N/A
                        {% endif %}
                    <li class='list-group-item'>Last repotted: 
                        {% if plant.last_repotted %}
                            {{plant.last_repotted.strftime('%m-%d-%Y')}}</li>
                        {% else %}
                            N/A
                        {% endif %}
                    <li class='list-group-item'>Indoor: {{plant.indoor}}</li>
                  </ul>
                  <br/>
                    <button class='btn btn-sm btn-success'>
                      <a href='/{{g.user.id}}/plants/edit/{{plant.id}}' class='card-link text-white'>Edit Plant</a>
                    </button>
                    <form action='/api/plants/delete/{{plant.id}}' id='deletePlant{{plant.id}}' method='POST'>
                      <input type='hidden' name='plantId{{plant.id}}' value='{{plant.id}}'>
                    <button class='btn btn-sm btn-danger' type='submit' onclick='whichValueSubmits({{plant.id}})'>Delete Plant</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

        <hr> 
        <div class='container-fluid'>
            <button class='btn btn-md btn-info'><a href='/{{g.user.id}}/plants/add' class='text-white'>Add plants</a></button>
            <button class='btn btn-md btn-info'><a href='/{{g.user.id}}/plants/search' class='text-white'>Search for plants</a></button>
        </div>
        
    {% else %}
        <div class='container-fluid'>
            <h3>No plants added yet!</h3>
            <button class='btn btn-md btn-info'><a href='/{{g.user.id}}/plants/add' class='text-white'>Add plants</a></button>
        </div>
    {% endif %}
{% endblock %}