{% extends 'base.html' %}

{% block content %}

    {% if plants is defined and plants[0] is defined %}
        <div class='card-deck col-md-12 container-fluid'>
        {% for plant in plants %}
            <div class='card'>
                <div class='card-body'>
                  <h4 class='card-title'>{{plant.plant_name}}</h4>
                  <ul class='list-group'>
                    <li class='list-group-item'>Last watered: {{plant.last_watered}}</li>
                    <li class='list-group-item'>Last trimmed: {{plant.last_trimmed}}</li>
                    <li class='list-group-item'>Last repotted: {{plant.last_repotted}}</li>
                  </ul>
                  <button class='btn btn-sm btn-primary'>
                      <a href='/{{g.user.id}}/plants/edit/{{plant.id}}' class='card-link text-white'>Edit Plant</a>
                  </button>
                </div>
            </div>
        {% endfor %}
        </div>

        <hr> 
        <div class='container-fluid'>
            <button class='btn btn-md btn-info'><a href='/{{g.user.id}}/plants/add' class='text-white'>Add plants</a></button>
            <button class='btn btn-md btn-info'><a href='/{{g.user.id}}/plants/search' class='text-white'>Search for plants</a></button>
        </div>
        
    {% else %}
        <div class='container-fluid'>
            <h3>No plants added yet!</h3>
            <button class='btn btn-md btn-info'><a href='/{{g.user.id}}/plants/add' class='text-white'>Add plants</a></button>
        </div>
    {% endif %}

{% endblock %}