{% extends 'base.html' %}


{% block content %}
<nav class="navbar navbar-info bg-info">
    <form id='searchPlant' class="form-inline" action='/api/plants/search' method='GET'>
      <input class="form-control mr-sm-2" id='searchQuery' name='searchQuery' type="text" placeholder="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class='card-deck container-fluid'>
    <div id='plant-search-output'>

    </div>
    <!--Delete this code after getting it down for javascript function returns-->
</div>


<script src='/static/scripts/plantSearch.js'></script>


{% endblock %}