<!--Gets attached to homepage later-->
{% block body %}

<div class='container-fluid text-center'>
    <h2 class='card-title text-dark'>Welcome {{g.user.username}}</h2>
</div>

  <div class='card-deck container-fluid'>
    <div class='container-fluid'>
    <!--We need to loop here over any user gardens to make sure display them all-->
    {% if garden|length == 0 %}
      <div class="card border-success container-fluid">
        <div class="card-body">
          <h4 class="card-title">{{garden.name}}</h4>
          <h6 class='card-title'>{{garden.description}}</h6>
          <p class="card-text">
            {{garden.plants|length}} Plants in this garden
          </p>
          <button class='btn btn-sm btn-primary'>
              <a href='/garden/edit' class='card-link text-white'>Edit Garden</a>
          </button>
          <button class='btn btn-sm btn-success'>
              <a href='/garden/add' class='card-link text-white'>Add a Garden</a>
          </button>
        </div>
      </div>
    {% endif %}
    <!--Here we have to get the current weather from API, use javascript-->
    {% if weather|length == 0 %}
    <div class="card border-secondary container-fluid">
        <div class="card-body">
          <h4 class="card-title">Current Forecast</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{weather.data[0].valid_date}}, {{weather.city_name}}</h6>
          <p class="card-text">
            <ul class='card-deck container-fluid'>
            {% for data in weather.data %}
            <div class='card border-info'>
              <div class='card-body'>
                <li class='list-group-item'>Date: {{data.valid_date}}</li>
                <li class='list-group-item'>High: {{data.high_temp}}<span class='text-info'>&#176</span>F</span></li>
                <li class='list-group-item'>Low: {{data.low_temp}}<span class='text-info'>&#176</span>F</span></li>
                <li class='list-group-item'>Forecast: {{data.weather.description}}</li>
              </div>
            </div>
            {% endfor %}
            </ul>
            <!-- {{weather}} -->
          </p>
          <button class='btn btn-sm btn-info'>
            <a href="/weather" class="card-link text-white">Today's Forecast Details</a>
          </button>
         </div>
    </div>
    {% endif %}

   <!--Here we loop through any tasks that need to be done and add them as a list-->
   {% if reminders|length == 0 %}
    <div class="card border-danger container-fluid">
      <div class="card-body">
        <h4 class="card-title">Reminders</h4>
        <ul class='list'>
          <li>
            <h6 class="card-subtitle mb-2 text-muted">Tasks:</h6>
              {{reminders}}
              <p class="card-text">
                {% for item in reminders[0] %}
                  {% for plant in item[item] %}
                  <h3>{{plant.plant_name}} Last watered{{plant.last_watered}}</h3>
                  {% endfor %}
                {% endfor %}
              </p>
              <p class='card-text'>
                {% for items in reminders[1] %}
                  <h3>{{items.plant_name}} Last trimmed{{items.last_trimmed}}</h3>
                {% endfor %}
              </p>
              <p class='card-text'>
                {% for items in reminders[2] %}
                  <h3>{{items.plant_name}} Last repotted{{items.last_repotted}}</h3>
                {% endfor %}
              </p>
              <button class='btn btn-sm btn-warning'>
                <a href="/clear_task" class="card-link text-white">Clear Task</a>
              </button>
          </li>
        </ul>
      </div>
    </div>
   </div>
   {% endif %}
  </div>
{% endblock %}