{% extends 'base.html' %}

{% block content %}

<div class='container row justify-content-center col-11 card p-1 shadow-lg p-4 mb-3 bg-light rounded'>
    <div class='col-md-12 shadow p-4 mb-3 bg-light rounded bg-white'>
      <form class='form-group' method='POST'>
          {{form.hidden_tag() }}
          {% for field in form 
              if field.widget.input_type != 'hidden' %}
          <div>
          <h2>{{field.label}}</h2>
          <p>{{field}}</p>
          {% for error in field.errors %}
              {{error}}
          {% endfor %}
          </div>
          {% endfor %}
          <button class='btn btn-md btn-success' type='submit'>Edit Info</button>
          <button class='btn btn-md btn-warning'><a href='/{{g.user.id}}/account' class='text-white'>Go back</a></button>
      </form>
    </div>
</div>

{% endblock %}