{% extends 'base.html' %}

{% block content %}
    <div class='container-fluid'>
        <h1 class='text-info'><img src='/static/weather/calendar.png' style='width:45px;height:45px'> Displaying your local weather:</h1>
        <ul class='list-group'>
            <li class='list-group-item'>City: <span class='text-info'>{{weather.data[0].city_name}}, {{weather.data[0].state_code}}</span></li>
            <li class='list-group-item'>Wind Speed: <span class='text-info'>{{weather.data[0].wind_spd}}</span>
                                                    {% if weather.data[0].wind_spd > 20 %}
                                                    <img src='/static/weather/windy.png' style='width:25px;height:25px;'>
                                                    {% endif %}
                                                    <span class='text-info'>{{weather.data[0].wind_cdir_full}}</span></li>
            <li class='list-group-item'>Sunrise: <span class='text-info'>{{weather.data[0].sunrise}}</span> <img src='/static/weather/sunny.png' style='width:25px;height:25px'>, 
                                        Sunset: <span class='text-info'>{{weather.data[0].sunset}}</span> <img src='/static/weather/full-moon.png' style='width:25px;height:25px'></li>
            <li class='list-group-item'>{% if weather.data[0].snow == 0 %} 
                                            Snow? <span class='text-info'>No Snow!</span> 
                                        {% else %}    
                                            Snow? <span class='text-info'>Snow <img src='/static/weather/snow.png' style='width:25px;height:25px'></span>
                                        {% endif %}
                                        </li>
            <li class='list-group-item'>Precipitation: 
                                        {% if weather.data[0].precip == 0 %}
                                            <span class='text-info'>{{weather.data[0].precip}} </span>
                                        {% else %}
                                            <span class='text-info'>{{weather.data[0].precip}}" <img src='/static/weather/rainy.png' style='width:25px;height:25px'></span>
                                        {% endif %}
                                        </li>
            <li class='list-group-item'>Conditions: 
                                        {% if weather.data[0].weather.code is in [200, 201, 202, 230, 231, 232, 233] %}
                                        <span class='text-info'>{{weather.data[0].weather.description}} <img src='/static/weather/storm.png' style='width:35px;height:35px'></span>
                                        {% elif weather.data[0].weather.code is in [300,301,302,500,501,502,520,521] %}
                                        <span class='text-info'>{{weather.data[0].weather.description}} <img src='/static/weather/rainy.png' style='width:35px;height:35px'></span>
                                        {% elif weather.data[0].weather.code is in [601,602,610,621,622,623]  %}
                                        <span class='text-info'>{{weather.data[0].weather.description}} <img src='/static/weather/snow.png' style='width:35px;height:35px'></span>
                                        {% elif weather.data[0].weather.code == 800 %}
                                        <span class='text-info'>{{weather.data[0].weather.description}} <img src='/static/weather/sunny.png' style='width:35px;height:35px'></span>
                                        {% elif weather.data[0].weather.code is in [801, 802, 803, 804] %}
                                        <span class='text-info'>{{weather.data[0].weather.description}} <img src='/static/weather/cloudy.png' style='width:35px;height:35px'></span>
                                        {% elif weather.data[0].weather.code is in [610, 611, 612] %}
                                        <span class='text-info'>{{weather.data[0].weather.description}} <img src='/static/weather/sleet.png' style='width:35px;height:35px'></span>
                                        {% else %}
                                        <span class='text-info'>{{weather.data[0].weather.description}}</span>
                                        {% endif %}
                                        </li>
            <li class='list-group-item'>Temperature: <span class='text-info'>{{  weather.data[0].temp }}<span class='text-info'>&#176</span>F</span></li>
        </ul>
        <br />
        <button class='btn btn-primary'>
            <a href='/' class='text-white'>Return</a>
        </button>
    </div>
{% endblock %}